
/* general */

body {
    font-family: 'Raleway', sans-serif;
}

a {
    color: rgba(135, 8, 54, 0.9);
}

a:hover {
    color: #870836;
}

.btn {
    font-size: 1.6rem;
}

/* header */

.header-cta {
    position: relative;
    background: #c90c51;
    color: #fff;
    padding: 2rem;
}

.header-cta .btn {
    opacity: 0;
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    transition: opacity 0.5s ease 0s;
}

h1 {
    font-family: 'Great Vibes', cursive;
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 10px 8px 13px black;
}

h2 {
    background: #870836;
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

h2, h3 {
    font-family: 'Trocchi', serif;
}

/* section book */

section, footer {
    padding: 5rem 0;
}

.section-book {
    background: #fff;
}

h3 {
    font-size: 1.3rem;
    margin: 0 0 2rem;
}

/* section bio */

.section-bio {
    background: #eff4f4;
}

/* footer */

footer {
    background: #333;
    color: #eee;
}

footer a {
    color: #eee;
}

footer a:hover {
    color: #fff;
}

/* media queries */


@media (min-width: 576px) {
    .header-cta { padding: 3rem; }
    h1 { font-size: 4rem; }
    h2 { font-size: 1.2rem; }
    section, footer { padding: 7rem 0; }
}

@media (min-width: 768px) {
    .header-cta { padding: 4rem; }
    .header-cta .btn { opacity: 1; }
    h1 { font-size: 7rem; }
    h2 { font-size: 2rem; }
}
