* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Banner {
  background: #000;
  text-align: center;
  box-shadow: 0 2px 10px 0 #d2d2d2;
}

.Banner__image {
  max-width: 100%;
  height: auto;
}

.Container {
  margin: 0 12px;
}

.Section {
  padding: 24px 0 65px;
  background: #fff;
}

.Section:nth-child(2n) {
  background: #f8f8f8;
}

.Section__portrait {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 16px;
}

.Section h1 {
  margin: 40px 0 32px;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #444;
}

.Section h2 {
  margin: 32px 0 24px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #333;
}

.Section p {
  text-align: left;
  line-height: 22px;
  color: #111;
}

.Section small {
  font-size: 12px;
  line-height: 16px;
  color: #333;
}

.Section a {
  color: #9a1e11;
}

.Section a:hover,
.Section a:active {
  color: #ce2817;
}

.Section ul {
  list-style-type: square;
  color: #e84838;
}

.Section li p {
  margin: 8px 0;
  color: #111;
}

.Section--align-left {
  text-align: left !important;
}

.Footer {
  padding: 48px 0 96px;
  border-top: 2px solid #e84838;
  background: #383838;
}

.Footer__container {
  display: flex;
}

.Footer__item {
  flex-basis: 50%;
  flex-grow: 1;
  color: #ececec;
  margin: 0;
}

.Footer__copyright {
  line-height: 16px;
  font-size: 12px;
}

.Nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Nav__link {
  line-height: 32px;
  color: #ececec;
}

.Nav__link:hover,
.Nav__link:active {
  color: #fff;
}

@media (min-width: 664px) {
  .Section p {
    text-align: justify;
  }

  .Section__portrait {
    float: left;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .Container {
    margin: 0 auto;
    width: 640px;
  }
}
